@model Game
@{
    ViewData["Title"] = "Game Info";
}

<h2>@Model.name</h2>

<p>
    @Model.comments
</p>

<ul>
    @foreach (var release in @Model.Releases)
    {
        <li>@release.dates</li>
    }
</ul>