<h2>Results</h2>
@model List<Game>
@{
    ViewData["Title"] = "Results";
}
@if (@Model.Count == 0)
{
    <b>No results found.</b>
}
else
{
	<p>@Model.Count results.</p>
}
<hr>
<ul>
@foreach (var game in Model)
{
    <li><a href="/Game/Detail?id=@game.game_id">@game.name</a></li>
}
</ul>