<!--

Advanced Search Form:

Game Title (textbox)
Developer (textbox)
Publisher (textbox)
Region (dropdown)
Release Date (date picker)
Genre (ideally we could add multiple genres..) (dropdown)
Console or PC? (dropdown)
PC Store (textbox)
Console Name (textbox)

-->

<form action="/Search/AdvancedSearch">

</form>