<!--
TODO: Remove this comment when this page is finished.

Advanced Search Form:

Game Title (textbox)
Developer (textbox)
Publisher (textbox)
Region (dropdown)
Rating (dropdown)
Release Date (date picker)
Genre (ideally we could add multiple genres..) (dropdown)
Platform (dropdown)

All of the regions and genres we support are available in the ViewData dictionary
ViewData["Regions"] gives a list of region objects, as does ViewData["Genres"]
(basically just loop through these and populate your dropdown)
-->

@{
    ViewData["Title"] = "Advanced Search";
}

<form action="/Search/AdvancedSearch">

</form>